.course-info {
    float: left;
    position: relative;
    border: 1px solid black;
    padding: 10px;
    margin-left: 290px;
    border-radius: 13px;
    margin-right: 14px;
    margin-bottom: 10px;
    width: 900px;
    height: 140px;
    background-color: white;
    


}

.image {
    border-radius: 8px;
    height: 210px;
    width: 100%;
    
}
.course-name {
    color: black;
    text-align: left;
    padding: 20px;
    padding-top: 42px;
    padding-bottom: 5px;
    /* text-align: center; */
    /* border: 1px solid red;  */
}
.course-duration{
    color: black;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 5px;
    text-align: left;
    /*border: 1px solid green; */
}
 .course-available-timings{
    color: black;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 5px;
    text-align: left;
}
.number-of-students{
    color: black;
    padding: 24px;
    padding-top: 42px;
    padding-bottom: 5px;
    text-align: right;
} 

.course-description{
    color: black;
    padding: 24px;
    padding-top: 0px;
    padding-bottom: 5px;
    text-align: right;


}
.course-button {
    position: absolute;
    color: black;
    border-radius: 8px;
    padding: 5px;
    margin-top: -50px; 
    border: 1px solid blue;
    right: 10px;
}
.button {
    color: black;
    border-radius: 8px;
    padding: 15px;
    /* border: 1px solid blue; */
    /* right: 10px; */
    width: 20px;
}
.buttons{
    /* border: 1px solid red; */
    text-align: right;

}
.SearchBar {
    float: center;
    padding-bottom: 20px;
    border: 80px;
    padding: 40px;
    

    
}

.SearchBar input {
    height: 40px;
    width: 196px;
    background-color: white;
    
}
.left-section{
    width: 50%;
    float: left;
}
.right-section{
    width: 50%;
    float: right;
}
.Search-button{
    margin-left: 10px;
    background-color: rgb(47, 47, 105);
    padding: 10px;
    border-radius: 5px;
    color: white;

}
body {
    background-color: white;
  }